body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/image1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    text-align: left; 
    margin-bottom: 20px;
  }
  
  .container {
    max-width: 600px; 
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  #title {
    text-align: center; 
    font-size: 2em; 
  }
  
  #description {
    text-align: center; 
    font-size: 1.5em; 
  }
  
  form {
    margin-top: 20px;
    font-size: 1.2em; 
  }
  
  label {
    font-size: 1em; 
  }
  
  input, select, textarea {
    font-size: 1em; 
  }
  
  #comments {
    width: 541px;
    height: 70px;
  }
  
 
  form > div {
    margin-bottom: 10px;
    font-size: medium;
  }
  